
<section id="search-bar">
  <input type='text' id="search-text" name="search[text]"/>
  <p>Enter 't:Book Title' to search by title, 'a:Author Name' to search by author, 's:Subject Name' to search by subject.</p>
</section>

<section id="searches">
  <div id="search-results">
    <h3>Search Results</h3>
  </div>

  <div id="search-history">
    <h3>Search History</h3>
  </div>
</section>

<section id="lists">

  <div id="newest-books-by-title">
    <h3>Books By Title</h3>
  </div>

  <div id="newest-books-by-authors">
    <h3>Books By Authors</h3>
  </div>

  <div id="newest-books-by-subject">
    <h3>Books by Subject</h3>
  </div>

</section>
